Package: dux
Version: PLACEHOLDER_FOR_VERSION
Section: base
Priority: optional
Architecture: all
Depends: openssh-client
Maintainer: romzorus <romzorus591@gmail.com>
Description: A basic automation tool (configuration management/orchestration) written in Rust.
Homepage: https://gitlab.com/dux-tool/dux
